<!-----  HEADER  ----->
<header class="header">
  <div class="container header-container">
    <nav class="nav">
      <!-----  Mob Logo navigation  ----->
      <div class="mob-nav logo-container">
        <a class="nav-logo" href="/index.html" aria-label="Site logo">
          <span class="italic">SIMPLY&nbsp;</span>CHOCOLATE
          <svg class="nav-logo-icon" width="21" height="21">
            <use href="{=$icon-path}"></use>
          </svg>
        </a>
        <button class="menu-toggle" type="button" aria-label="Open menu">
          <svg class="menu-icon" width="28" height="28">
            <use href="/img/sprite.svg#icon-menu"></use>
          </svg>
        </button>
      </div>
      <!-----  Nav-site menu  ----->
      <ul class="nav-menu">
        <li class="nav-menu-item">
          <a href="#start-page" class="nav-link" aria-label="Go to home"
            >Home</a
          >
        </li>
        <li class="nav-menu-item">
          <a
            href="#how-made"
            class="nav-link"
            aria-label="Go to the section How made"
            >How it&#39;s made?</a
          >
        </li>
        <li class="nav-menu-item">
          <a
            href="#reveiw"
            class="nav-link"
            aria-label="Go to the section Reviews"
            >Chocolate is loved</a
          >
        </li>
      </ul>
    </nav>
    <!-----  Social Networks  ----->
    <ul class="social-networks">
      <li class="social-item">
        <a
          href="https://www.facebook.com/"
          class="social-link"
          aria-label="Open facebook"
          target="_blank"
          rel="noopener noreferrer"
        >
          <svg class="social-icon" width="24" height="24">
            <use href="/img/sprite.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li class="social-item">
        <a
          href="https://www.instagram.com/"
          class="social-link"
          aria-label="Open instagram"
          target="_blank"
          rel="noopener noreferrer"
        >
          <svg class="social-icon" width="24" height="24">
            <use href="/img/sprite.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="social-item">
        <a
          href="https://t.me"
          class="social-link"
          aria-label="Open telegram"
          target="_blank"
          rel="noopener noreferrer"
        >
          <svg class="social-icon" width="24" height="24">
            <use href="/img/sprite.svg#icon-telegram"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</header>
