<!-----  INGRIDIENTS  ----->
<section class="section ingridients-section">
  <div class="container ingridients-container">
    <h2 class="title ingridients-title">
      It all adds up to one exceptional
      <span class="accent-color">taste</span> sensation
    </h2>
    <!--- Ingridients List -->
    <ul class="ingridients-list">
      <!--  List Item -->
      <li class="ingridients-card">
        <svg class="ingridients-card-arrow" width="24" height="24">
          <use href="/img/sprite.svg#icon-arrow-right"></use>
        </svg>
        <picture class="ingridients-img">
          <source
            srcset="/img/ingridients/chocolate@2x.png"
            media="(min-resolution: 2dppx)"
          />
          <img src="/img/ingridients/chocolate.png" alt="MILK CHOCOLATE" />
        </picture>
        <p class="ingridients-text">MILK CHOCOLATE</p>
      </li>
      <!--  List Item -->
      <li class="ingridients-card">
        <svg class="ingridients-card-arrow" width="24" height="24">
          <use href="/img/sprite.svg#icon-arrow-right"></use>
        </svg>
        <picture class="ingridients-img">
          <source
            srcset="/img/ingridients/milk@2x.png"
            media="(min-resolution: 2dppx)"
          />
          <img src="/img/ingridients/milk.png" alt="MILK" />
        </picture>
        <p class="ingridients-text">Milk</p>
      </li>
      <!--  List Item -->
      <li class="ingridients-card">
        <svg class="ingridients-card-arrow" width="24" height="24">
          <use href="/img/sprite.svg#icon-arrow-right"></use>
        </svg>
        <picture class="ingridients-img">
          <source
            srcset="/img/ingridients/nuts@2x.png"
            media="(min-resolution: 2dppx)"
          />
          <img src="/img/ingridients/nuts.png" alt="NUTS" />
        </picture>
        <p class="ingridients-text">NUTS</p>
      </li>
      <!--  List Item -->
      <li class="ingridients-card">
        <svg class="ingridients-card-arrow" width="24" height="24">
          <use href="/img/sprite.svg#icon-arrow-right"></use>
        </svg>
        <picture class="ingridients-img">
          <source
            srcset="/img/ingridients/semi-sweet@2x.png"
            media="(min-resolution: 2dppx)"
          />
          <img
            src="/img/ingridients/semi-sweet.png"
            alt="SEMI - SWEET CHOCOLATE"
          />
        </picture>
        <p class="ingridients-text">SEMI - SWEET CHOCOLATE</p>
      </li>
      <!--  List Item -->
      <li class="ingridients-card">
        <svg class="ingridients-card-arrow" width="24" height="24">
          <use href="/img/sprite.svg#icon-arrow-right"></use>
        </svg>
        <picture class="ingridients-img">
          <source
            srcset="/img/ingridients/cacao@2x.png"
            media="(min-resolution: 2dppx)"
          />
          <img src="/img/ingridients/cacao.png" alt="CACAO" />
        </picture>
        <p class="ingridients-text">CACAO</p>
      </li>
      <!--  List Item -->
      <li class="ingridients-card">
        <svg class="ingridients-card-arrow" width="24" height="24">
          <use href="/img/sprite.svg#icon-arrow-right"></use>
        </svg>
        <picture class="ingridients-img">
          <source
            srcset="/img/ingridients/raspberry@2x.png"
            media="(min-resolution: 2dppx)"
          />
          <img src="/img/ingridients/raspberry.png" alt="RASPBERRY" />
        </picture>
        <p class="ingridients-text">RASPBERRY</p>
      </li>
      <!--  List Item -->
      <li class="ingridients-card">
        <svg class="ingridients-card-arrow" width="24" height="24">
          <use href="/img/sprite.svg#icon-arrow-right"></use>
        </svg>
        <picture class="ingridients-img">
          <source
            srcset="/img/ingridients/coconut@2x.png"
            media="(min-resolution: 2dppx)"
          />
          <img src="/img/ingridients/coconut.png" alt="COCONUT OIL" />
        </picture>
        <p class="ingridients-text">COCONUT OIL</p>
      </li>
    </ul>
  </div>
</section>
