<!-----  START-PAGE  ----->
<section class="start-page-section">
  <div class="container start-page-container">
    <h1 class="title-start-page">
      Treat yourself or a loved one to our finest ingredients for a moment of
      pure delight!
    </h1>
    <div class="page-anchors-container">
      <a class="buy-btn anchor-btn" href="#products">Buy now</a>
      <a class="how-made-btn anchor-btn" href="#how-made">How it&apos;s made</a>
      <a class="scroll-btn" href="#footer"
        >scroll down
        <svg class="scroll-icon" width="28" height="28">
          <use href="/img/sprite.svg#icon-arrow-down"></use>
        </svg>
      </a>
    </div>
  </div>
</section>
