:root {
  --accent: #fd9222;
}

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  font-size: 14px;
  background-color: var(--fafafa);
}

.section {
  padding: 0 40px;
}

.italic {
  font-style: italic;
}

.accent-color {
  color: #fd9222;
}

button {
  border: none;
  background-color: transparent;
}
