.nav-menu,
.social-networks {
  display: none;
}
.mob-nav {
  display: flex;
  justify-content: space-between;
}
.nav-logo {
  font-weight: 700;
  line-height: 1.29;
  letter-spacing: -0.03em;
  color: #111;
  display: flex;
  align-items: center;
}
.nav-logo-icon {
  margin-left: 4px;
}
.menu-toggle {
  padding: 17px 0;
  stroke: #111;
}

@media screen and (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
  .header-container {
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    justify-content: space-between;
  }
  .nav {
    display: flex;
    align-items: center;
  }
  .logo-container {
    margin-right: 47px;
  }
  .nav-menu {
    display: flex;
    gap: 20px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: -0.02em;
  }
  .nav-menu-item {
    transition: transform 0.3s ease;
  }
  .nav-menu-item:hover {
    transform: scaleY(1.4);
  }
  .nav-link {
    padding: 12px 0;
    color: #111;
  }
  .social-networks {
    display: flex;
    gap: 14px;
  }
  .social-item {
    border: 1px solid rgba(17, 17, 17, 0.1);
    border-radius: 10px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .social-item:hover {
    border: 1px solid rgba(253, 146, 34, 0.1);
  }
  .social-item svg {
    transition: transform 0.3s ease;
  }
  .social-item:hover svg {
    fill: var(--accent);
    transform: scale(1.3);
  }
}

@media screen and (min-width: 1200px) {
  .nav-logo {
    font-size: 18px;
    line-height: 1.11;
  }
  .logo-container {
    margin-right: 365px;
  }
  .nav-menu {
    gap: 24px;
  }
}
